<% @page_title = 'Checkout' %>

<h1>Music Library Store</h1>

<h2>Checkout</h2>

<table style="width: 500px; border-collapse: collapse;">
	<tr>
		<td>&nbsp;</td>
		<td>Album</td>
		<td>Artist</td>
		<td>Quantity</td>
		<td>Price</td>
	</tr>
<% for item in @cart.items -%>
	<% row_color = cycle("CCCCCC", "FFFFFF")%>
	<tr style="background: #<%= row_color %>;">
		<td><%= image_tag(item.album.image_path, :size => '18x18')%></td>
		<td>
			<p style="font-size: 14px; font-weight: bold;"><%= h(item.album.title) %></p>
		</td>
		<td>
			<p style="font-size: 12px; font-weight: bold;"><%= h(item.album.artist.name) if item.album.artist %></p>
			<td><p style="font-size: 12px;"><%= item.quantity %></p></td>
			<td><p style="font-size: 12px;"><%= number_to_currency(item.price) %></p></td>
		</td>
	</tr>
<% end -%>
	<tr>
		<td>&nbsp;</td>
		<td style="padding-top: 1em;">Shopping Cart Total</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td style="padding-top: 1em;"><%= number_to_currency(@cart.total_price) %></td>
	</tr>
</table>
<br />
<%= link_to('Continue Shopping', :action => 'list') %>
<br />
<%= start_form_tag(:action => 'save_order') %>
	<%= error_messages_for('customer') %>

	<p><label for="customer_first_name">First name</label><br/>
	<%= text_field('customer', 'first_name') %></p>

	<p><label for="customer_last_name">Last name</label><br/>
	<%= text_field('customer', 'last_name') %></p>

	<p><label for="customer_zip_code">Zip code</label><br/>
	<%= text_field('customer', 'zip_code') %></p>
	
	<p>Credit card<br/>
	<%= text_field_tag('credit_card') %></p>

	<br />
	<%= submit_tag("Place Order") %>
<%= end_form_tag %>
